<% include ./partials/header.ejs %>
 <div class="w-full  h-100% bg-black text-white">
   <div class="w-full display flex items-center justify-between">
    <img src="/images/Logo2.jpg">
    <div class="flex gap-[20px] mx-[10%]">
      <i class="ri-heart-line text-[30px]" ></i>
      <i class="ri-chat-smile-3-line text-[30px]"></i>
    </div>s
  </div>
  <div class=" story px-3 flex gap-3 overflow-auto mt-5">
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
            src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
            src="https://tse4.mm.bing.net/th?id=OIP.LKccIfxNzoz7p3qTM14hjwHaJQ&pid=Api&P=0&h=180"
            alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
            src="https://i.pinimg.com/originals/28/3a/b1/283ab1108ef8e379a2e555de019e1aee.jpg"
          alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
           src="https://tse1.mm.bing.net/th?id=OIP.ljiVwbu5UvOAhQW1evzAsQHaHa&pid=Api&P=0&h=180"
          alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
           src="https://tse3.mm.bing.net/th?id=OIP.0ahJRJSYd-fzy57Zo-AVTAHaHl&pid=Api&P=0&h=180"
          alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
           src="https://tse4.mm.bing.net/th?id=OIP.WmRL7s43S8HPmk12_XJ7mwAAAA&pid=Api&P=0&h=180"
          alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
             src="https://tse3.mm.bing.net/th?id=OIP.cZhrreCAVQFew
             WczR7DEZwHaHa&pid=Api&P=0&h=180"
          alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
           src="https://i.pinimg.com/originals/10/43/ce/1043ceea6c895d9dfbd3e5459989f15e.jpg"
          alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
           src="https://tse3.explicit.bing.net/th?id=OIP.nL_EFEMS8HGOTvFcP7aAzwHaHW&pid=Api&P=0&h=180"
          alt="">
        </div>
      </div>
    </div>
 </div>
 <div class="posts mt-10">
  <div class="a">
    <div class="flex  border-t-[1px]  p-[3%] items-center">
      <div class="w-[40px] h-[40px] rounded-full overflow-hidden"><img src="https://tse3.explicit.bing.net/th?id=OIP.nL_EFEMS8HGOTvFcP7aAzwHaHW&pid=Api&P=0&h=180"></div>  
       <p class="ml-[1%] text-[20px] ">Username</p>
    </div>
    <div class="w-full h-[50vh] overflow-hidden bg-sky-100 "></div>
  <div class="flex items-center p-[1px] gap-[10px]" >
    <i class="ri-heart-line text-[30px]" ></i>
    <i class="ri-chat-1-line text-[30px]"></i>
    <i class="ri-send-plane-line text-[30px]"></i>
    <i class="ri-checkbox-blank-line text-[30px]"></i>
  </div>
 </div>
 <div class="a">
  <div class="flex  border-t-[1px]  p-[3%] items-center">
    <div class="w-[40px] h-[40px] rounded-full overflow-hidden"><img src="https://tse3.explicit.bing.net/th?id=OIP.nL_EFEMS8HGOTvFcP7aAzwHaHW&pid=Api&P=0&h=180"></div>  
     <p class="ml-[1%] text-[20px] ">Username</p>
  </div>
  <div class="w-full h-[50vh] overflow-hidden bg-sky-100 "></div>
<div class="flex items-center p-[1px] gap-[10px]" >
  <i class="ri-heart-line text-[30px]" ></i>
  <i class="ri-chat-1-line text-[30px]"></i>
  <i class="ri-send-plane-line text-[30px]"></i>
  <i class="ri-checkbox-blank-line text-[30px]"></i>
</div>
</div>
<div class="a">
  <div class="flex  border-t-[1px]  p-[3%] items-center">
    <div class="w-[40px] h-[40px] rounded-full overflow-hidden"><img src="https://tse3.explicit.bing.net/th?id=OIP.nL_EFEMS8HGOTvFcP7aAzwHaHW&pid=Api&P=0&h=180"></div>  
     <p class="ml-[1%] text-[20px] ">Username</p>
  </div>
  <div class="w-full h-[50vh] overflow-hidden bg-sky-100 "></div>
<div class="flex items-center p-[1px] gap-[10px]" >
  <i class="ri-heart-line text-[30px]" ></i>
  <i class="ri-chat-1-line text-[30px]"></i>
  <i class="ri-send-plane-line text-[30px]"></i>
  <i class="ri-checkbox-blank-line text-[30px]"></i>
</div>
</div>
<div class="a">
  <div class="flex  border-t-[1px]  p-[3%] items-center">
    <div class="w-[40px] h-[40px] rounded-full overflow-hidden"><img src="https://tse3.explicit.bing.net/th?id=OIP.nL_EFEMS8HGOTvFcP7aAzwHaHW&pid=Api&P=0&h=180"></div>  
     <p class="ml-[1%] text-[20px] ">Username</p>
  </div>
  <div class="w-full h-[50vh] overflow-hidden bg-sky-100 "></div>
<div class="flex items-center p-[1px] gap-[10px]" >
  <i class="ri-heart-line text-[30px]" ></i>
  <i class="ri-chat-1-line text-[30px]"></i>
  <i class="ri-send-plane-line text-[30px]"></i>
  <i class="ri-checkbox-blank-line text-[30px]"></i>
</div>
</div>
</div>
</div>
<% include ./partials/footer.ejs %>